/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000; /* Prevent random white borders */
    overflow-x: hidden;
}

/* SPLIT LAYOUT */
.content-split {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LEFT SIDE */
.left-half {
    width: 50%;
    background-color: #EDE8E1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO TOP LEFT */
.logo-top-left {
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo-top-left img {
    width: 65px;
}

/* TEXT AREA */
.text-content {
    max-width: 500px;
}

.text-content h1 {
    font-size: 90px;
    letter-spacing: 3px;
    line-height: 80px;
    font-weight: bold;
    
}

.coffee-splash {
    width: 550px;
    margin: 15px 0;
    margin-left: -100px;
    margin-top: -70px;
    opacity: calc(90%);
    
}

/* PARAGRAPH */
.text-content p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    width: 90%;
    color: #444;
}

/* RIGHT SIDE */
.right-half {
    width: 50%;
    background-color: #3a2215;
    background-size: cover;
    background-position: center;
    position: relative;
}

.beans-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    offset-rotate: calc(20);
}

/* DRINK IMAGE */
.drink-image img {
    position: absolute;
    top: 50%;
    left: -20%;   /* Slight overlap to left side */
    transform: translateY(-50%);
    height: 520px;
    z-index: 3;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    background: white;
    padding: 10px 35px;
    border-radius: 30px;
}

.navbar nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    padding: 6px 18px;
    border-radius: 20px;
    transition: 0.3s;
}

.navbar nav ul li a.active {
    background: #5b3417;
    color: white;
}

.navbar nav ul li a:hover {
    background: #6b3c1c;
    color: white;
}
